<div id="container">
  <form (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="taskName">Description:</label>
      <textarea type="text" id="description-input" name="taskName" required [(ngModel)]="taskName"></textarea>
    </div>
  
    <div class="form-group">
      <label for="taskPriority">Priority:</label>
      <select id="priority-select" name="taskPriority" [(ngModel)]="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </div>

    <button id="submit-button" type="submit">Add</button> 

  </form>
</div>