<head>
    <title>Task List</title>
</head>
<body>

    <table id="table" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let task">
                <mat-form-field>
                    <input matInput [(ngModel)]="task.description"
                        (keydown.enter)="onDescriptionChange(task.description, task.id)" 
                        (focusout)="onDescriptionChange(task.description, task.id)">
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef>Priority</th>
            <td mat-cell *matCellDef="let task">
                <mat-form-field>
                    <mat-select [(value)]="task.priority" (selectionChange)="onSelectPriorityChange($event, task.id)">
                        <mat-option *ngFor="let option of priorityOptions" [value]="option.value">
                            {{ option.viewValue }}
                        </mat-option> 
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="completed">
            <th mat-header-cell *matHeaderCellDef>Completed</th>
            <td mat-cell *matCellDef="let task">
                <mat-form-field>
                    <mat-select [(value)]="task.completed" (selectionChange)="onSelectCompletionChange($event, task.id)">
                        <mat-option *ngFor="let option of completedOptions" [value]="option.value">
                            {{ option.viewValue }}
                        </mat-option> 
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Delete</th>
            <td mat-cell *matCellDef="let task">
                <button mat-fab color="warn" aria-label="Delete icon" (click)="onDeleteTask(task.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</body>