#table {
    background-color: #2d2d30;
}

th {
    color: whitesmoke;
}

.green-text {
    color: #107d1f
}
  
.yellow-text {
    color: #c78904
}
  
.red-text {
    color: #DC143C
}

mat-select, mat-option {
    font-weight: bolder
}

.green-text.mat-mdc-option-active {
    --mat-option-selected-state-label-text-color: #107d1f
  }
  
.yellow-text.mat-mdc-option-active {
    --mat-option-selected-state-label-text-color: #c78904
}

.red-text.mat-mdc-option-active {
    --mat-option-selected-state-label-text-color: #DC143C
}