#table {
    background-color: #2d2d30;
}

th {
    color: whitesmoke;
}

.green-text {
    color: #107d1f !important
}
  
.yellow-text {
    color: #c78904 !important
}
  
.red-text {
    color: #DC143C !important
}

mat-select, mat-option {
    font-weight: bolder
}

.mat-option.mat-selected {
    --mat-option-selected-state-label-text-color-low: #00FF00;    /* Green for low priority */
    --mat-option-selected-state-label-text-color-medium: #FFFF00; /* Yellow for medium priority */
    --mat-option-selected-state-label-text-color-high: #FF0000;   /* Red for high priority */
  }