@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { 
    height: 100%;
    background-color: #1e1e1e;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.container {
    display: inline-block; /* Make the container's width match the child's width */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  /*  border: 5px solid black; */
    
}

.centered-content {
    display: flex;
    justify-content: center; 
}

.aligned-content {
    margin-top: -2.5%;
    transform: translateX(-2.5%);
}

